<h1>New comment</h1>

<%= render 'form' %>

<%= link_to 'Back', comments_path %>

<%- welcome_index_path %>
<%= form_for @comment, url:post_comments_path(@post) do |f| %>
<%= f.text_area :text_area %>
<%= f.submit %>
<% end %>
